:host {
  /* Component styles go here */
  padding: 1%;
  width: 98%;
  display: block;

  section {

    flex: 1;
    & h2 {
      font-family: sans-serif;

      > span {
        display: block;
        font-size: 0.8rem;
        color: #666;

        button {
          position: absolute;
          right: 2rem;
          margin-top: -1rem;
        }
      }
    }

    & div * {
      font-family: Consolas, Monaco, Menlo, 'Courier New', monospace;
      font-size: 12px;
    }
  }

  & .expression div {
    margin-bottom: 20px;
    width: inherit;

    & input, textarea {
      width: 100%;
      padding: 1%;
      box-sizing: border-box;
    }
  }

  & .results {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    flex-direction: row;

    & section {
      > div {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-width: 24rem;

        > .messages {
          display: flex;
          flex: 1;
          flex-direction: row;
          justify-content: flex-end;
          padding-right: 1rem;

          & .inputWarning {
            padding: 0rem 0 0.3rem 1rem;
            border-left: 4px solid goldenrod;
            color: goldenrod;
            max-height: 1rem;
            flex: 1;
          }

          & button {
            margin: 0.2rem 0.5rem;
          }
        }

        > .document-view {
          // max-width: min-content;
          // min-width: max-content;
          // padding: 0 0.5rem;
          width: calc(100% - 0.5rem);
          max-width: calc(100% - 0.5rem);
          height: 60vh;
          box-sizing: border-box;

          & pre,
          & textarea {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            overflow: auto;
            width: inherit;
            height: inherit;
            padding: 0.5rem;
            white-space: pre-wrap;
          }
        }
      }

    }
  }

  & .output div.document-view {
    // padding: 1vw;
    background-color: #eee;
    // box-sizing: content-box;
    max-width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all;
  }
}
